extends ui_layout

block content
  .ui.sixteen.wide.row 
    .ui.sixteen.wide.column
      h2.ui.header Account SignUp
      form.ui.form(action="/createStudent", method='POST')
        input(type='hidden', name='facilitator', value=user.username)
        input(type='hidden', name='_csrf', value=csrfToken)
        .field.six.wide.column
          label(for='username' style="font-size:larger;") Enter Username
          .ui.pointing.below.label.basic.username-red
              .header Create a simple username: 
                br
                br
                li Avoid using your full name or email address. 
          input(type='text', name='username', id='username', placeholder='Username', required).field.left 

          br
          br
          label(for='password' style="font-size:larger;") Enter Password
          .ui.pointing.below.label.basic.password-red
            .header Create a secure password: 
              br
              br
              li The longer the password, the better. A minimum of 12 characters is ideal.
              br
              li Avoid personal information like birthdays or common password patterns, e.g. Dragon123 or 123456789.
              br
              li Store your passwords in a password manager app for ease of access!
          input(type='password', name='password', id='password', placeholder='Password', required).field
        h3.ui.header.blue="*The Facilitator assigned to this account is @" + user.username +". They will be available in case you are in need of assistance." 
        button.ui.big.green.button.buttonid(type='submit') Create
        
block styles
  style.
    .ui.pointing.below.label.basic.username-red, .ui.pointing.below.label.basic.password-red {
      display: none;
    }
    .ui.pointing.below.label.active.username-red, .ui.pointing.below.label.active.password-red {
      display: block;
    }
      
block scripts
  script(src='/module_js/base_end.js')
  script(src='/module_js/base_start.js')
  script(src='/module_js/base_tutorial.js')
  script(src='/module_js/base_introSteps.js')
  script.
    // Add and remove classes to show/hide red labels
    $('#username').on('focus', function() {
      $('.ui.pointing.below.label.username-red').addClass('active');
    }).on('blur', function() {
      $('.ui.pointing.below.label.username-red').removeClass('active');
    });
    $('#password').on('focus', function() {
      $('.ui.pointing.below.label.password-red').addClass('active');
    }).on('blur', function() {
      $('.ui.pointing.below.label.password-red').removeClass('active');
    });